# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
dist/
*.log
.env
*.env
.env.*
db.sqlite3
staticfiles/

# Virtual environments
.venv/
venv/
env/

# Node / Vite / React
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Misc
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
