# Core Django & API
django>=5.0
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3
psycopg2-binary>=2.9

# Async notifications
celery>=5.4
redis>=5.0

# Face Recognition - InsightFace (ArcFace buffalo_l)
insightface>=0.7.3
onnxruntime>=1.16.3          # or onnxruntime-gpu if you have NVIDIA GPU
opencv-python>=4.10
numpy>=1.26
pillow>=10.4

# CSV reports
djangorestframework-csv>=3.0